.container {
    font-family: sans-serif;
    border: solid 5px grey;
    border-radius: 10px;
    background: lightgray;
    width: 350px;
    height: 450px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

h1{
    margin: 1vh;
    padding: 0px 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h2{
    margin: 1vh;
    margin-bottom: 5vh;
    padding: 0px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

label {
    margin-bottom: 0px;
    font-size: 18px;
}

input {
    width: 90%;
    height: 30px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: solid 1px black;
    border-top: solid 1px black;;    
    border-radius: 5px;
    text-align: center;
}

button {
    width: 50%;
    height: 40px;
    background: grey;
    color: black;
    border: solid 1px black;
    border-radius: 6px;
    margin-top: 4vh;
}

button:hover {
    background: grey;
    cursor: pointer;
}